Hello {{username}},
Thanks a lot for registering with DirectCode services!
You can use this account to manage DirectCode projects, and login to any DirectCode powered platform.
Take a look at the Services dashboard at <a href="https://services.directcode.org/">services.directcode.org</a>

Hope to code with you soon,
The DirectCode Team
