Hello {{username}},
<br/>
Thanks a lot for registering with DirectCode services!
<br/>
You can use this account to manage DirectCode projects, and login to any DirectCode-powered platform.
<br/>
Take a look at the Services dashboard at <a href="http://services.directcode.org/">services.directcode.org</a>
<br/>
<br/>
Hope to code with you soon,
<br/>
The DirectCode Team
